THIRTYBEES_DB_ENGINE=InnoDB 
THIRTYBEES_DB_PORT=3306 
THIRTYBEES_DB_USER=thirtybees 
THIRTYBEES_DB_PASSWORD='pw123' 
THIRTYBEES_DB_NAME=thirtybees
THIRTYBEES_DB_PREFIX=tb_ 
THIRTYBEES_DB_CHARACTER_SET=utf8 
THIRTYBEES_DB_COLLATION=utf8_unicode_ci 
THIRTYBEES_DB_ROOT_PASSWORD='pwroot' 
THIRTYBEES_DB_CLEAR=true 
THIRTYBEES_DB_CREATE=true 
THIRTYBEES_MODULES='' 
THIRTYBEES_DOMAIN='http://thirtybees.local' 
THIRTYBEES_HTTPS=0 
THIRTYBEES_PROD=0 
THIRTYBEES_VERSION=1.4.0
TAG=1.4.0
VCS_REF=""
IMAGE_NAME=thirtybees:1.4.0
BUILD_DATE=2023-09-04T15:31:19Z
PHP_INI_DATE_TIMEZONE='UTC' 
PHP_MEMORY_LIMIT=256M 
PHP_MAX_UPLOAD=20M 
PHP_MAX_EXECUTION_TIME=300 
THIRTYBEES_LANGUAGE='en_US' 
THIRTYBEES_ALL_LANGUAGE=true 
THIRTYBEES_NEWSLETTER=false 
THIRTYBEES_STEP='' 
THIRTYBEES_ACTIVITY='' 
THIRTYBEES_EMAIL='admin@localhost' 
THIRTYBEES_SEND_EMAIL=false 
THIRTYBEES_FIRSTNAME='Admin' 
THIRTYBEES_LASTNAME='Thirtybees' 
THIRTYBEES_PASSWORD='' 
THIRTYBEES_LICENSE=false

